{% extends 'base.html' %}

{% block header %}
<div style="display: table; width:100%" >
  <div style="display:table-row">
    <div style="display:table-cell">
      <h1>{% block title %}{{ ac.regn }} History{% endblock %}</h1>
    </div>
      <div  style="display:table-cell; text-align: right;" >
<!--        <a class="action" href="{{ url_for('plantmaint.actaskmaint', id=0) }}"><button id="addbtn"></button></a>-->
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
  <div class="table">
    <div class="row">
      <div class="heading" >Id</div>
      <div class="heading" >Date</div>
      <div class="heading" >Description</div>
      <div class="heading mobile_port_suppress" >Meter Name</div>
      <div class="heading mobile_port_suppress" >Reading</div>
    </div>
  {% for l in list %}
    <div class="row">
      <div class="cell" align="left">{{ l.id }}</div>
      <div class="cell" align="left">{{ l.history_date }}</div>
      <div class="cell" align="left">{{ l.task_description }}</div>
      {% if l.actask_rec.std_task_rec.std_meter_rec is not none %}
          <div class="cell  mobile_port_suppress " align="left">{{ l.actask_rec.std_task_rec.std_meter_rec.meter_name }}</div>
          <div class="cell mobile_port_suppress" align="right">{{ l.formatted_meter_reading }}</div>
      {% endif %}
    </div>
  {% endfor %}
  </div>
{% endblock %}