{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<form method="Post">
  {{ form.csrf_token }}
  <fieldset>
    <legend>{{ form.name }}</legend>
  <ul>
<!--    <li>{{ render_field(form.id) }}</li>-->
<!--    <li>{{ render_field(form.ac_id) }}</li>-->
<!--    <li>{{ render_field(form.meter_id) }}</li>-->
    </br>
    <li>{{ render_field(form.entry_prompt) }}</li>
    <li>{{ render_field(form.entry_uom) }}</li>
    <li>{{ render_field(form.entry_method) }}</li>
    <li>{{ render_field(form.auto_update) }}</li>
  </ul>
    </fieldset>
  {{ form.btnsubmit() }}
  {{ form.cancel(formnovalidate=true) }}
  {{ form.delete() }}
</form>
{% endblock %}