{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<h1>{% block title %}{{ ac.regn }} Task{% endblock %}</h1>
<h5>{{ ac.currentreadings }}</h5>
{#
<div  style="display:table-cell; text-align: right;" >
  <a class="action" href="{{ url_for('plantmaint.actaskcomplete', task=form.task_id) }}"><button class="textbtn">Complete</button></a>
</div>
#}
<div class="mobile_port_suppress mobile_land_suppress">
Some important notes:
<ul>
  <li class="ul_instructions mobile_port_suppress mobile_land_suppress">A task can be both meter driven and calendar driven.
    In which case the standard task should be calendar based and both a next due date and a next due reading should be entered.
    The system will use the earliest of the two triggers.  To add the meter, first select the meter and update the record,
    then re-edit at which time you will be able to enter the meter reading.
  </li>
  <li class="ul_instructions mobile_port_suppress mobile_land_suppress">Where a date in not applicable or not known leave it with dd/mm/yy in the field</li>
  <li class="ul_instructions mobile_port_suppress mobile_land_suppress">Where a task is meter based, the next due date is not used.</li>
  <li class="ul_instructions mobile_port_suppress mobile_land_suppress">Where a task completion date is affected by a meter reading, the system will determine
           an average daily over n number of days.  The default is 90 days.  Anything below 30 days will use 30 and anything above 365 will use 365 days.
    A lower number of days will make the estimate more responsive to recent readings.
   </li>
</ul>
</div>
<form method="Post">
  {{ form.csrf_token }}
  <fieldset>
    <legend>{{ form.name }}</legend>
  <ul>
    <li>{{ render_field(form.task_id) }}</li>
    {% if meter is not none %}
    <li>
      <div style="display:inline-block;color:#377ba8;padding-left:20%">Meter Name: {{ meter.meter_name }} </div>
    </li>
    {% endif %}
    </br>
    <li>{{ render_field(form.last_done) }}</li>
    {% for f in form %}
    {% if f.name == 'last_done_reading' %}
    <li>{{ render_field(form.last_done_reading) }}  </li>
    {% endif %}
    {% endfor %}
    </br>
    {% for f in form %}
    {% if f.name  == 'due_basis_date' %}
      <li>{{ render_field(form.due_basis_date) }} </li>
    {% endif %}
    {% if f.name == 'due_basis_reading' %}
      <li>{{ render_field(form.due_basis_reading) }} </li>
    {% endif %}
    {% endfor %}
    </br>
    <li>{{ render_field(form.estimate_days) }}</li>
    </br>
    <li>{{ render_field(form.warning_days) }}</li>
    <li>{{ render_field(form.warning_email) }} </li>
    </br>
    <li>{{ render_field(form.note) }}</li>
    {% if meter is not none %}
      You can have this task appear as a separate counter in the logbook spreadsheet:
      <li>{{ render_field(form.logbook_include) }}</li>
      <li>{{ render_field(form.logbook_column_title) }}</li>
      <li>{{ render_field(form.logbook_start_date) }}</li>
      <li>{{ render_field(form.logbook_start_value) }}</li>
    {% endif %}
  </ul>
    </fieldset>
  {{ form.btnsubmit() }}
  {{ form.cancel(formnovalidate=true) }}
  {{ form.complete() }}
  {{ form.history() }}

  {{ form.delete() }}
</form>
{% endblock %}