{% extends 'base.html' %}

{% block header %}
<div style="display: table; width:100%" >
  <div style="display:table-row">
    <div style="display:table-cell">
      <h1>{% block title %}Standard Meters{% endblock %}</h1>
    </div>
      <div  style="display:table-cell; text-align: right;" >
        <a class="action" href="{{ url_for('plantmaint.stdmetermaint', id=0) }}"><button id="addbtn"></button></a>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
  <div class="table">
    <div class="row">
      <div class="heading" >id</div>
      <div class="heading" >Description</div>
      <div class="heading" >Uom</div>
    </div>
  {% for l in list %}
    <div class="row">
<!--      'Landings' and 'AirFrame' are hardcoded into the function that imports readings-->
<!--      from flights.  So they cannot be changed.-->
      {% if l['meter_name'] in ['Landings', 'AirFrame'] %}
        <div class="cell">{{ l['id'] }}</div>
      {% else %}
        <div class="cell"><a href="{{ url_for('plantmaint.stdmetermaint', id=l['id']) }}">{{ l['id'] }}</a></div>
      {% endif %}
      <div class="cell" align="left">{{ l['meter_name'] }}</div>
      <div class="cell" align="left">{{ l['uom'] }}</div>
    </div>
  {% endfor %}
  </div>
{% endblock %}