{% extends 'base.html' %}

{% block header %}
<div style="display: table; width:100%" >
  <div style="display:table-row">
    <div style="display:table-cell">
      <h1>{% block title %}Contact List{% endblock %}</h1>
    </div>
      <div  style="display:table-cell; text-align: right;" >
          <a class="action mobile_port_suppress mobile_land_suppress" href="{{ url_for('misc.contactspreadsheet') }}" ,
           title="Download Spreadsheet ">
          <button class="textbtn">Download</button>
          </a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="table">
    <div class="row">
      <div class="heading" >Name</div>
      <div class="heading mobile_port_suppress " >GNZ</div>
      <div class="heading mobile_port_suppress " >Email</div>
      <div class="heading mobile_port_suppress" >Phone</div>
      <div class="heading mobile_land_suppress" >Mobile</div>
    </div>
  {% for l in list %}
    <div class="row">
      <div class="cell" align="left">{{l.firstname}} {{ l.surname }}</div>
      <div class="cell mobile_port_suppress " align="right">{{ l.gnz_no }}</div>
      <div class="cell mobile_port_suppress " align="left"><a href="mailto:{{l.email}}">{{ l.email }}</a></div>
      <div class="cell mobile_port_suppress " align="left"><a href="tel:{{+l.phone}}">{{ l.phone }}</a></div>
      <div class="cell mobile_land_suppress" align="left"><a href="tel:{{+l.mobile}}">{{ l.mobile }}</a></div>
      </div>
  {% endfor %}
  </div>
{% endblock %}