{% extends 'base.html' %}

{% block header %}
<div style="display: table; width:100%" >
<!--  <div style="display:table-row">-->
<!--    <div style="display:table-cell">-->
<!--      <h1>{% block title %}Weather {% endblock %}</h1>-->
<!--    </div>-->
<!--  </div>-->
  {% if msg  %}
  <div>
    {{ msg }}
  </div>
  {% endif %}
</div>
{% endblock %}

{% block content %}

<form method="Post">
  {{ form.csrf_token }}
  <fieldset>
    <svg id="chart0" class="c3chart"></svg>
    {{ render_field(form.measure) }}
  </fieldset>
  {% if current_user.name == 'rayb' %}
      {{ form.btnrefresh() }}
  {% endif %}
  </form>

<script>
    var chart0 = c3.generate({
        bindto: '#chart0',
        {{ chart0data|safe }}
        });
    chart.resize()
</script>

{% endblock %}