{% extends 'base.html' %}

{% block header %}
    <div style="display:table-cell">
        <h1>{% block title %}Met Data Refresh {% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}
    <form method="Post" autocomplete="off">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <fieldset>
            <legend>{{ form.name }} Met Data Refresh</legend>
            {% if form.errors %}
            <ul class="errors">
                {% for error in form.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <ul>
                <li>{{ render_field(form.location) }}</li>
<!--                <li>{{ render_field(form.latitude) }}</li>-->
<!--                <li>{{ render_field(form.longitude) }}</li>-->
            </ul>
        </fieldset>
        {{ form.btnsubmit() }}
<!--        <input id="setpos" type="button" value="Set Position" onclick="updatepos('latitude','longitude')" class="textbtn">-->
    </form>
{% endblock %}

