{% extends 'base.html' %}

{% block header %}
{% endblock %}
{% block content %}
<div class="modal" id="processingMessage" style="display:none">
      <!-- Modal content -->
      <div class="modal-content">
        <!-- The Close Button (also linked to the checkbox) -->
<!--        <label for="modal-toggle" class="modal-close">&times;</label>-->
        <div  class="wait-box">
            <h1>
            Sending Emails, please wait...
                </h1>
        </div>
      </div> <!--model-content-->
</div> <!-- modal -->
<div id="content" >
<form method="Post" autocomplete="off" action="{{ url_for('bulkemail.sendemail') }}" onsubmit="return showProcessingMessage();">
  {{ form.csrf_token }}
  Note that one email is sent to each recipient in turn.  It will start with their first name followed by a comma, newline then the text entered here.
  <fieldset>
    <legend>{{ form.name }} Email Text</legend>
    <ul>
      <li>{{ render_field(form.subject) }}</li>
      <li>{{ render_field(form.email_text) }}</li>
    </ul>
  </fieldset>
    {{ form.btnsubmit() }}
    <a href="{{ url_for('bulkemail.index') }}" class="materialbtn" title="Send no emails; return to list.">cancel</a>
</form>
</div>


<script>
function showProcessingMessage() {
    // Show the message immediately
    document.getElementById('processingMessage').style.display = 'flex';
    // The form submission will then proceed and redirect to the new page
    return true;
}
</script>

{% endblock %}
