{% extends 'base.html' %}

{% block header %}
<div style="display: table; width:100%" >
  <div style="display:table-row">
    <div style="display:table-cell">
      <h1>{% block title %}Aircraft List{% endblock %}</h1>
    </div>
      <div  style="display:table-cell; text-align: right;" >
        <a class="action" href="{{ url_for('mastmaint.aircraftmaint', id=0) }}"><button id="addbtn"></button></a>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
  <div class="table">
    <div class="row">
      <div class="heading">id</div>
      <div class="heading" >Regn</div>
      <div class="heading heading mobile_port_supress" >Type</div>
      <div class="heading heading mobile_port_supress mobile_land_supress" >Rate</div>

    </div>
  {% for l in list %}
    <div class="row">
      <div class="cell"><a href="{{ url_for('mastmaint.aircraftmaint', id=l['id']) }}">{{ l['id'] }}</a></div>
      <div class="cell" align="left">{{ l['regn'] }}</div>
      <div class="cell  mobile_port_supress " align="left">{{ l['type'] }}</div>
      <div class="cell  mobile_port_supress mobile_land_supress " align="left">{{ l['rate_per_hour'] }}</div>
    </div>
    {#
    {% if not loop.last %}
      <hr>
    {% endif %}
    #}
  {% endfor %}
  </div>
{% endblock %}