{% extends 'base.html' %}

{% block header %}
<div style="display: table; width:100%" >
  <div style="display:table-row">
    <div style="display:table-cell">
      <h1>{% block title %}Pilot List{% endblock %}</h1>
    </div>
      <div  style="display:table-cell; text-align: right;" >
        <a class="action" href="{{ url_for('mastmaint.pilotmaint', id=0) }}"><button id="addbtn"></button></a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="table">
    <div class="row">
      <div class="heading">id</div>
      <div class="heading" >Code</div>
      <div class="heading" >Name</div>
      <div class="heading" >Email</div>

    </div>
  {% for l in list %}
    <div class="row">
      <div class="cell"><a href="{{ url_for('mastmaint.pilotmaint', id=l['id']) }}">{{ l['id'] }}</a></div>
      <div class="cell" align="right">{{ l['code'] }}</div>
      <div class="cell" align="left">{{ l['fullname'] }}</div>
      <div class="cell" align="left">{{ l['email'] }}</div>
    </div>
    {#
    {% if not loop.last %}
      <hr>
    {% endif %}
    #}
  {% endfor %}
  </div>
{% endblock %}