<!DOCTYPE html>
<title>{% block title %}{% endblock %} - ASC System</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<script type="text/javascript" charset="utf-8">

function goBack() {
  window.history.back();
};

// updatepos looks requires the following variables on a page
function updatepos(latitudefield,longitudefield) {
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    const latitude = position.coords.latitude;
    const longitude = position.coords.longitude;
    console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);
    // alert(latitudefield + ":" + latitude + "\n" + longitudefield + ":" + longitude);
    document.getElementById(latitudefield).value = latitude;
    document.getElementById(longitudefield).value = longitude;
  });
} else {
  console.log("Geolocation is not supported by this browser.");
}
};


function checkcookie () {  if (navigator.cookieEnabled){
    document.getElementById("cookiemessage").hidden = true;
    console.log("cookies enabled")
    }
  else{
    document.getElementById("cookiemessage").hidden = false;
    console.log("cookies disabled")
    }
};

function checkTime(i) {
        return (i < 10) ? "0" + i : i;
    };

function resettime(which) {
    dt = document.getElementById(which);
    thisform = dt.form.id;
    // console.log(thisform);
    var now = new Date();
    h = checkTime(now.getHours());
    m = checkTime(now.getMinutes());
    dt.value = h + ":" + m;
    document.forms[thisform].submit();
};

function pad(num, size) {
    var s = num+"";
    while (s.length < size) s = "0" + s;
    return s;
};

function datetime_format(pdate) {
    if (pdate.getMinutes() >= 53) {
        pdate.setHours(pdate.getHours() + 1 )};
    return pdate.getFullYear()
        + '-' + pad(pdate.getMonth() + 1,2)
        + '-' + pad(pdate.getDate(),2)
        + 'T' + pad(pdate.getHours(),2)
        + ':' + pad(nearest_qtr(pdate.getMinutes()),2)
        + ':00.000' ;
        };

function ConfirmDelete()
  {
    return confirm("You have Chosen to Delete this record.  Are you sure?");
   }

function myUpper(cObj)
  {
  cObj.value=cObj.value.toUpperCase();
  }

function myLower(cObj)
  {
  cObj.value=cObj.value.toLowerCase();
  }




</script>

<!-- Charting scripts -->
<script type=text/javascript src="{{  url_for('static', filename='jquery-3.2.0.min.js') }}"></script>
<script src="{{ url_for('static',   filename='c3/c3.min.js')}}"></script>
<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<link href="{{ url_for('static',   filename='c3/c3.css')}}" rel="stylesheet"/>

{% macro render_field(field) %}

{# field.label #}
<label for="{{ field.name }}" class="{{ field.render_kw['class'] }}">{{ field.label.text }}</label>
<abbr title="{{ field.description }}">
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <li style="margin-left:5%; color:red; font-size:80%;">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}

{% macro render_checkbox(field) %}

  <div style="display:inline">
    <label for="{{ field.name }}" style="width:auto">{{ field.label.text }}</label>:
    <abbr title="{{ field.description }}">
    {{ field(**kwargs)|safe }}
    </abbr>
    </div>
  {% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <li style="margin-left:5%; color:red; font-size:60%;">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}

{% macro render_radio(field) %}

   <div style="display:table;width:100%;border-spacing:10px;border:1px solid">
     <div style="display:table-row">
       <div style="display:table-cell;width:auto">
         {{ field.label }}:
       </div>
            {% for f in field %}
               <div style="display:table-cell;width:auto">
                     <label for="{{ f.name }}" style="width:auto" class="{{ field.render_kw['class'] }}">{{ f.label.text }}</label>:{{ f(**kwargs)|safe }}
               </div>
            {% endfor %}
       </div>
    </div>
  {% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <li style="margin-left:5%; color:red; font-size:60%;">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}


  <!-- This is absolutely critical if you want the site to work on a mobile device -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <nav>
      <h1 class="full_screen_suppress mobile_land_suppress">AASC</h1>
      <h1 class="mobile_port_suppress mobile_land_suppress">Auckland Aviation Sports Club</h1>
      <h1 class="mobile_port_suppress full_screen_suppress">Gliding Club</h1>
      {% if current_user is defined %}
      <span class="notphone">{{ current_user.fullname or current_user.name or 'Anonymous' }}</span>
      {% else %}
      <span class="notphone">No Active Login</span>
      {% endif %}
    <div class="dropdown">
      <span><button id="menubtn" ></button></span>
      <div class="dropdown-content">
        {% if current_user is defined and current_user.is_authenticated %}
          <p><a href="{{ url_for('flights.daysummary') }}">Flights</a></p>
          <p><a href="{{ url_for('logbook.logbook') }}">Logbook</a></p>
          <p><a href="https://puretrack.io">Flight Tracking</a></p>
          {% if current_user.name == 'rayb' %}
            <p><a href="{{ url_for('misc.metforecast') }}">Weather</a></p>
          {% endif %}
          <p><a href="{{ url_for('auth.profile') }}">Profile</a></p>
          {% if current_user.is_member_of("INSTRUCTOR") %}
            <p><a href="{{ url_for('misc.instrcontactlist',active='ACTIVE') }}">Members</a></p>
          {% else %}
            <p><a href="{{ url_for('misc.contactlist',active='ACTIVE') }}">Members</a></p>
          {% endif %}
          {% if 'regn' in session %}
            <p><a href="{{ url_for('plantmaint.index', pregn=session['regn']) }}">Scheduled Maintenance</a></p>
          {% endif %}
          <div class="nophxone">
            <p><a href="{{ url_for('mastmaint.index') }}">Maintenance</a></p>
          </div>
        {% else %}
          <p><a href="{{ url_for('auth.register') }}">Register</a></p>
          <p><a href="{{ url_for('auth.login') }}">Log In</a></p>
        {% endif %}
        <p><a href="{{ url_for('auth.logout') }}">Log Out</a></p>
      </div>
    </div>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    <noscript align="center" style="font-size:300%;color:red;"></br>>This site will not work without Javascript. Please
      enable.
    </noscript>
    <div id="cookiemessage" hidden align="center" style="font-size:300%;color:red;"></br>You must enable
      cookies</br></br></div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endwith %}
    <body onload="checkcookie()">
    {% block content %}{% endblock %}
    </body>
  </section>

