{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Maintain User Password {% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
   <fieldset>
    <legend>Login</legend>
    <ul>
      <li>
        <label for="oldpwd">Old Pasword</label>
        <input type="password" name="oldpwd" id="oldpwd" required>
      </li>
      <li>
        <label for="newpwd">New Password</label>
        <input type="password" name="newpwd" id="newpwd" required>
      </li>
      <li>
        <label for="newpwd2">Re-Enter New Password</label>
        <input type="password" name="newpwd2" id="newpwd2" required>
      </li>
    </ul>
  </fieldset>
  <button type="submit" class="textbtn" name="loginbtn" id="loginbtn" title="Press to Change Password" value="">Submit</button>
</form>
{% endblock %}