{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User Maintenance{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ form.csrf_token }}
    <fieldset>
      <legend>Maintain User</legend>
      <ul>
        <li>{{ render_field(form.name) }}</li>
        <li>{{ render_field(form.fullname) }}</li>
        <li>{{ render_field(form.email) }}</li>
        <li>{{ render_field(form.gnz_no) }}</li>
        {% if current_user.administrator %}
        <li>{{ render_field(form.administrator) }}</li>
        {% endif %}
        <li>{{ render_field(form.approved) }}</li>
        <li>{{ render_field(form.pilot_id) }}</li>
      </ul>
    </fieldset>
    {{ form.btnsubmit() }}
    {{ form.cancel() }}
    {{ form.password() }}
    {{ form.delete() }}

  </form>
{% endblock %}