{% extends 'base.html' %}

{% block header %}
<div style="display: table; width:100%" >
  <div style="display:table-row">
    <div style="display:table-cell">
      <h1>{% block title %}User / Roles{% endblock %}</h1>
    </div>
      <div  style="display:table-cell; text-align: right;" >
        <a class="action" href="{{ url_for('auth.userrolemaint', id=0) }}"><button id="addbtn"></button></a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="table">
    <div class="row">
      <div class="heading">ID</div>
      <div class="heading" align="right">User Name</div>
      <div class="heading" align="right">Role Name</div>
    </div>
  {% for view in views %}
    <div class="row">
      <div class="cell"><a href="{{ url_for('auth.userrolemaint', id=view.id) }}">{{ view.id }}</a></div>
      <div class="cell" align="left">{{ view.user_rec.fullname }}</div>
      <div class="cell" align="left">{{ view.role_rec.name }}</div>

    </div>
  {% endfor %}
  </div>
{% endblock %}