{% extends 'base.html' %}

{% block header %}
<div style="display: table; width:100%" >
  <div style="display:table-row">
    <div style="display:table-cell">
      <h1>{% block title %}Member List{% endblock %}</h1>
    </div>
      <div  style="display:table-cell; text-align: right;" >
          <a class="action" href="{{ url_for('misc.contactlist') }}" ,
           title="Show Contact Details">
          <button class="textbtn">Contacts</button>
          </a>
        {% if active == 'ACTIVE' %}
          <a class="action" href="{{ url_for('membership.memberlist', active='ALL') }}" ,
           title="Show Inactive Members as well">
          <button class="textbtn">ALL</button>
          </a>
         {% else %}
          <a class="action" href="{{ url_for('membership.memberlist', active='ACTIVE') }}" ,
           title="Show only Active Members ">
          <button class="textbtn">Active</button>
          </a>
          {% endif %}
          <a class="action" href="{{ url_for('membership.spreadsheet') }}" ,
           title="Download Spreadsheet ">
          <button class="textbtn">Download</button>
          </a>
        <a class="action" href="{{ url_for('membership.membermaint', id=0) }}"><button id="addbtn"></button></a>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="table">
    <div class="row">
      <div class="heading">id</div>
      <div class="heading" >GNZ</div>
      <div class="heading" >Surname</div>
      <div class="heading" >First Name</div>
      <div class="heading" >Email</div>
      <div class="heading" >BFR Due</div>
      <div class="heading" >Medical Due</div>
    </div>
  {% for l in list %}
    <div class="row">
      <div class="cell"><a href="{{ url_for('membership.membermaint', id=l['id']) }}">{{ l.id }}</a></div>
      <div class="cell" align="right">{{ l.gnz_no }}</div>
      <div class="cell" align="left">{{ l.surname }}</div>
      <div class="cell" align="left">{{ l.firstname }}</div>
      <div class="cell" align="left">{{ l.email_address }}</div>
      {% if l.bfr_due and l.bfr_due <= today  %}
        <div class="cell" style="color:red" align="left">{{ l.bfr_due|reformatstddate or '' }}</div>
      {% else %}
        {% if l.bfr_due and l.bfr_due <= twomonths %}
          <div class="cell" style="color:orange" align="left">{{ l.bfr_due|reformatstddate or '' }}</div>
        {% else %}
          <div class="cell" style="color:green" align="left">{{ l.bfr_due|reformatstddate or '' }}</div>
        {% endif %}
      {% endif %}
      {% if l.medical_due and l.medical_due <= today  %}
        <div class="cell" style="color:red" align="left">{{ l.medical_due|reformatstddate or '' }}</div>
      {% else %}
        {% if l.medical_due and l.medical_due <= twomonths %}
          <div class="cell" style="color:orange" align="left">{{ l.medical_due|reformatstddate or '' }}</div>
        {% else %}
          <div class="cell" style="color:green" align="left">{{ l.medical_due|reformatstddate or '' }}</div>
        {% endif %}
      {% endif %}
    </div>
    {#
    {% if not loop.last %}
      <hr>
    {% endif %}
    #}
  {% endfor %}
  </div>
{% endblock %}